@mixin container ($limit: 1366px, $padmob: 30px, $paddesk: 60px) {
  margin-inline: auto;
  max-width: $limit;

  @include max-lg {
    padding-inline: $padmob;
  }

  @include min-lg {
    padding-left: $paddesk;
    padding-right: $paddesk;
  }
}

@mixin container-absolute ($limit: 1366px, $padmob: 3rem, $paddesk: 6rem) {
  margin-inline: auto;
  max-width: $limit;

  @include max-lg {
    margin-inline: $padmob;
  }

  @media (min-width: 992px) and (max-width: (calc($limit + calc($paddesk * 2)))) {
    margin-inline: $paddesk;
  }
}