@mixin responsive-title {
  font-size: 4.6rem;

  @include min-xl {
    @include font-xx-large;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}

// Set width and height of the same size.
@mixin width-height($size) {
  height: $size;
  width: $size;
}

