// ==========================================================================
// @font-face declarations
// ==========================================================================




// ==========================================================================
// Font variables
// ==========================================================================

$body-font: "Manrope", sans-serif;
$headings: "Bodoni Moda", serif;

:root {
  --body-font: "Manrope", sans-serif;
  --heading-font: "Bodoni Moda", serif;
}

.animate-text {
  opacity: 0;
}
