$primary-color: #4b9eff;
$secondary-color: #b78d00;
$gray-500: #4d4d4d;
$gray-200: #a2a2a2;
$dark-500: #061408;
$light-color: #ffffff;

$theme-colors: (
  "primary-color": $primary-color,
  "secondary-color": $secondary-color,
  "gray-500": $gray-500,
  "gray-200": $gray-200,
  "dark-500": $dark-500,
  "light-color": $light-color,
);

$imgpath: "../../images/bmp/";
$svgpath: "../../images/svg/";

$variable-prefix: "";

// BREAKPOINTS

$max-vw: 1920px;
$min-vw: 320px;

$max-width: 1400px;
