@use "./variables";
@use "./colors";
@use "./generic/index";
@use "./blocks";
// @import "./variables";
// @import "./mixins/index.scss";
// @import "./colors";
@import "./typography";
// @import "./functions";

// // // placeholders
// @import "./placeholders/index";

// @import "./generic/index";

// // //components
@import "./components/index";

// // sections
// // @import "./sections/index";
@import "./pages/index";
