@use "../mixins/mixins" as mx;
@use "../mixins/breakpoints" as bp;

%cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%mask-image {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 1;
  top: 0;
  background-color: var(--primary);
}

%button {
  text-align: center;
  font-family: var(--body-font);
  font-size: 18px !important;
  font-style: normal;
  font-weight: 500;
  line-height: 27.903px;
  text-decoration: none !important;
  display: inline-block;
  justify-content: center;
  align-items: center;
  gap: 3.285px;
  align-self: stretch;
  border-radius: 13.844px;
  background: rgba(0, 0, 0, 0.26);
  @include mx.border-radius(12px);

  a {
    text-decoration: none !important;
  }
}

.button {
  &--primary {
    color: var(--light-color);
    padding: 20px 32px;
    background-color: var(--primary-color);
  }

  &--secondary {
    color: var(--primary-color);
    padding: 20px 32px;
    background-color: var(--wp--preset--color--yellow-200);

    a {
      color: var(--primary-color) !important;
    }
  }

  &--min {
    padding: 10px 32px !important;
  }

  &--tertiary {
    color: var(--primary-color);
    padding: 15px 24px;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
  }
}
