%pagination {
  @include container;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;

  .page-numbers {
    @include fluid-size(font-size, 20px, 26px);
    text-decoration: none;
    font-weight: 300;
    color: $gray-500;
    padding: 0 20px;

    &.current {
      color: $primary-color;
    }
  }
}
