@use "../typography" as type;
@use "../functions" as fn;
@use "../variables" as v;
@use "../mixins/breakpoints" as bp;

%body_text {
  font-size: fn.px-rem(20px);
  color: v.$dark-500;
  opacity: 0.8;
  @include bp.max-lg {
    line-height: fn.px-rem(20px);
  }
  @include bp.min-lg {
    line-height: fn.px-rem(30px);
  }
}

%heading_h2 {
  // font-size: clamp(40px, 5vw, 56px);
  font-size: clamp(2vw, calc(4.4vw + 1rem), 3em);
  font-family: type.$headings;
  font-style: normal;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: -0.566px;
  color: v.$dark-500;
}
