@use "../typography" as type;
@use "../functions" as fn;
@use "../variables" as v;
@use "../mixins/breakpoints" as bp;
@use "../mixins/fluidsize" as flz;

%body_text {
  color: var(--gray-500) ;
  // @include bp.max-lg {
  //   line-height: 1.4rem;
  //   @include flz.fluid-size("font-size", 18px, 24px);
  // }

  strong {
    font-weight: 600;
  }
}

%heading_h2 {
  font-size: clamp(1.8rem, 4vw, 3rem);
  font-family: var(--body-font)!important;
  font-style: normal;
  font-weight: 700;
  line-height: 104%;
  letter-spacing: -0.566px;
  color: v.$dark-500;
}

%headline {
  font-size: clamp(32px, 2rem + 3vw, 100px);
  color: var(--secondary-color);
  font-family: var(--body-font) !important;
  font-weight: 100;
  text-transform: uppercase;
}

%highlight {
  font-size: clamp(40px, 2rem + 4vw, 150px);
  color: var(--secondary-color);
}

%description {
  // @include flz.fluid-size("font-size", 18px, 24px);
  font-size: fn.px-rem(24px);
  color: var(--dark-500);
  line-height: 2.2rem;
}

