@use "../mixins/mixins" as mx;
@use "../typography" as t;
@use "../mixins/breakpoints" as bp;
@use "../placeholders/general";
@use "../placeholders/texts";

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
}

body,
p,
ul,
ol,
li {
  font-family: t.$body-font;
  @extend %body_text;
}

body p span,
body p a,
ul span,
ul a,
li span,
li a {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);

  a,
  span,
  strong,
  em,
  mark {
    font-family: inherit !important;
  }
}

.opacity-0 {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

figure {
  padding: 0;
  margin: 0;
}

.secondary-title {
  &--headline {
    @extend %heading_h2;
  }
  
}


.button {
  @extend %button;
}
