@use "../mixins/breakpoints" as bp;
@use "../mixins/proportional-image" as pimg;
@use "../mixins/mixins" as mx;
@use "../functions" as fn;
@use "../placeholders/texts";

.experience {
  padding: fn.px-rem(80px) 0;
  overflow: hidden;

  @include bp.min-lg {
    padding: fn.px-rem(120px) 0;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    gap: fn.px-rem(40px);

    @include bp.min-lg {
      grid-template-columns: 1fr 1fr;
      gap: 0;
      align-items: center;
    }
  }

  &__content {
    order: 2;
    padding: 0 fn.px-rem(20px);

    @include bp.min-lg {
      order: unset;
      grid-column: 1;
      grid-row: 1;
      padding-left: fn.px-rem(80px);
      padding-right: fn.px-rem(60px);
    }

    @include bp.min-xl {
      padding-left: fn.px-rem(120px);
    }
  }

  &__header {
    margin-bottom: fn.px-rem(40px);
  }

  &__title {
    margin: 0 0 fn.px-rem(24px) 0;
    line-height: 1.8em;

    @include bp.max-md {
      line-height: 1;
    }
  }

  &__title-line {
    display: block;

    &--headline {
      @extend %headline;
    }

    &--highlight {
      @extend %highlight;
    }
  }

  &__intro {
    @extend %description;
    max-width: fn.px-rem(500px);
  }

  &__list {
    order: 3;

    @include bp.max-md {
      padding: 0 5vw;
    }

    @include bp.min-lg {
      order: unset;
      grid-column: 1 / -1;
      grid-row: 2;
      padding: fn.px-rem(60px) fn.px-rem(80px);
    }

    @include bp.min-xl {
      padding-left: fn.px-rem(120px);
      padding-right: fn.px-rem(120px);
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: fn.px-rem(16px);
    }

    li {
      position: relative;
      padding-left: fn.px-rem(24px);
      line-height: 1.6;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: fn.px-rem(8px);
        width: fn.px-rem(6px);
        height: fn.px-rem(6px);
        border: 1px solid #B59449;
        border-radius: 50%;
      }
    }
  }


  &__item-title {
    font-weight: 600;
    color: #222;
  }

  &__item-desc {
    font-weight: 400;
    color: #555;
  }

  &__image {
    order: 1;

    @include bp.min-lg {
      order: unset;
      grid-column: 2;
      grid-row: 1;
    }

    figure {
      margin: 0;
      border-radius: fn.px-rem(20px) 0 0 fn.px-rem(20px);
      overflow: hidden;

      @include bp.max-lg {
        border-radius: fn.px-rem(20px);
        margin: 0 fn.px-rem(20px);
      }

      img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
      }
    }
  }
}
