.hero-parallax {
  position: relative;
  width: 100%;

  #birds-3d-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &__section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    &--first,
    &--second {
      background: transparent;
    }

    &--first {
      z-index: 2;
    }

    &--second {
      z-index: 2;
    }

    &--boat {
      position: relative;
      z-index: 10;
      opacity: 1;
      display: block;
      background: white;
      height: inherit;

      .hero-parallax {
        &__title {
          position: absolute;
          text-align: center;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -110%);
          z-index: 1;

          &-line {
            color: white;
          }
        }
      }
    }
  }

  &__content {
    position: relative;
    z-index: 5;
    text-align: center;
    padding: 0 20px;
    transition:
      opacity 0.1s ease,
      transform 0.1s ease;
  }

  &__title {
    font-size: clamp(2.5rem, 8vw, 6rem);
    color: var(--primary-color);
    line-height: 0.8;
    margin: 0;
    letter-spacing: -0.02em;
  }

  &__title-line {
    display: block;

    &--highlight {
      font-style: italic;
    }

    &--headline {
      font-family: var(--body-font) !important;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  // Transição com nuvens
  &__transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    pointer-events: none;
    overflow: hidden;
  }

  // Céu com degradê - complementa o céu da imagem do barco
  &__sky {
    width: 100%;
    height: 50vh;
    z-index: 1;
    pointer-events: none;
    background: linear-gradient(to top, #70c7f1 0%, #70c7f1 100%);
  }

  &__clouds {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__cloud {
    position: absolute;

    transition:
      transform 0.1s ease,
      opacity 0.1s ease;

    &--1 {
      width: 300px;
      height: 150px;
      top: 50%;
      left: -40%;
    }

    &--2 {
      width: 250px;
      height: 120px;
      top: 80%;
      right: 35%;
    }

    &--3 {
      width: 350px;
      height: 180px;
      top: 90%;
      left: 30%;
    }
  }

  // Seção do barco
  &__boat-image {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__boat-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

// .hero-parallax__section--boat
//   .hero-parallax__boat-img[src*="sibon-baru-jaya-cover.jpg"]:not([src]) {
//   &::before {
//     content: "";
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     font-size: 2rem;
//   }
// }
