.random-images {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: white;

  &__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    will-change: transform;
    transform: translateY(0);
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}