#wave-lines-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
}

.wave-line {
  position: absolute;
  width: 150%;
  height: 100px;
  will-change: transform, opacity, top, left;
  transform-origin: center center;

  path {
    will-change: opacity, d;
    vector-effect: non-scaling-stroke;
  }
}
