@import "./loader";
@import "./btn";
@import "./header";
@import "./footer";
@import "./wave-lines";
@import "./random-images";
@import "./hero-parallax";
@import "./unforgettable";
@import "./feature-slide";
@import "./experience";
@import "./hero-charters";
@import "./feature-charters";
@import "./photo-slide";
@import "./schedule-booking";
@import "./enquire-form";
@import "./cta-boat";
@import "./depoiments";
@import "./faq";

