// @import "./inputs";
// @import "./button";
// @import "./menu";
// @import "./single";
@import "./header";
@import "./footer";
@import "./wave-lines";
@import "./random-images";
@import "./hero-parallax";
@import "./unforgettable";
// @import "./hero";
// @import "./slides";
// @import "./tab";
// @import "./modal";
// @import "./comments";
// @import "./search-results";
// @import "./language-switcher";
