@use "../../frontend/variables" as v;

$colors: (
  "primary": v.$primary-color,
  "secondary": v.$secondary-color,
  "gray-500": v.$gray-500,
  "gray-200": v.$gray-200,
  "dark-500": v.$dark-500,
);

@each $name, $color in $colors {
  .has-#{$name}-color {
    color: $color;
  }

  .has-#{$name}-background-color {
    background-color: $color;
  }
}
