@use "../mixins/mixins" as mx;
@use "../mixins/fluidsize" as fsz;
@use "../mixins/breakpoints" as bp;

.wp-block-beta-digital-blocks-depoimento {
  @include mx.border-radius(24px);
  overflow: hidden;

  @include bp.min-lg {
    height: 100%;
  }
  .card-depoimento {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .star {
      text-align: center;
    }

    > p:first-child {
      color: #133419;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
      padding: 0;
      margin: 0;
    }

    p:not(:first-child) {
      color: #133419;
      font-feature-settings:
        "liga" off,
        "clig" off;
      font-family: var(--heading-font);
      font-size: 29px;
      font-style: normal;
      font-weight: 700;
      line-height: 36px;
    }

    &-text {
      @include fsz.fluid-size("padding-top", 25px, 15px);
      @include fsz.fluid-size("padding-bottom", 25px, 15px);
      @include fsz.fluid-size("padding-left", 45px, 25px);
      @include fsz.fluid-size("padding-right", 45px, 45px);
    }

    &-video {
      > div:first-of-type {
        @include bp.min-lg {
          height: 100%;
        }
      }
      figure {
        height: 100%;
        img {
          height: 100%;
          width: auto;
          object-fit: cover;

          @include bp.max-lg {
            min-height: 329px;
          }

          @include bp.min-lg {
            min-height: 429px;
          }
        }
      }
    }

    &-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.depoimentos-colunas-2 {
  @include bp.max-lg {
    flex-direction: column-reverse;
  }
}
.depoimentos-grid {
  @include bp.min-lg {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
  }
}
