@use "../mixins/fluidsize" as fsz;
.faq-bloco {
  &__item {
    padding-bottom: 30px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #c5c3c3;
  }

  &__item:not(:first-child) {
    padding-top: 30px;
  }

  &__question {
    font-family: var(--body-font);
    font-weight: 600;
    @include fsz.fluid-size("font-size", 24px, 35px);
    line-height: 41px;
    margin: 0;
  }

  &__answer {
    color: #656565;
    width: calc(100% - 72px);
  }

  [data-js="faq-question"] {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    column-gap: 20px;
  }
}
