@use "./button";
@use "./hero";
@import "./card-block";
@import "./depoimentos";
@import "../placeholders/texts";
@import "./text";
@import "./hero-content";
@import "./ultimos-posts";
@import "./faq";
